@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso denegado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Usted Como usuario no tiene acceso a esta vista esto puede darse por las siguientes directivas: <br>
        -Su cuenta fue desactivada por el Administrador de turno por desobediencia en las publicaciones. <br>
        -Usted no completo el formulario de ingreso
        </p>
</header>
