@page
@model RegisterModel
@{
    ViewData["Title"] = "";
}

<style>
body {
    background: url('/img/Obrero1.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    transition: background 1s ease-in-out; /* Suaviza la transición entre imágenes */
}
}
</style>

<h1>@ViewData["Title"]</h1>
<section id="register">

    

    <div class="register-box">
        
        <form id="" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="h2l">Postulate.Com</h2>
                <h3 class="h3l">Crear cuenta</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-register">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" required/>
                <label asp-for="Input.Email">Email</label>

            </div>
            <div class="input-register">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" required/>
                <label asp-for="Input.Password">Password</label>

            </div>
            <div class="input-register">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" re/>
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="buttonreg">Register</button>
        </form>
    </div>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

      <script>
    const images = [
        '/img/Obrero1.jpg',
        '/img/obrero2.jpg',
        '/img/obrero3.jpeg',
        '/img/obrero4.jpg',
        '/img/obrero5.jpeg',
    ];

    let currentIndex = 0;

    function changeBackground() {
        currentIndex = (currentIndex + 1) % images.length; // Cambia al siguiente índice
        document.body.style.backgroundImage = `url('${images[currentIndex]}')`;
    }

    setInterval(changeBackground, 5000); // Cambia la imagen cada 5 segundos
</script>
}
