<head>
    <script src="~/js/VistaServicio.js"></script>
     @using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager
</head>

<body>

    <div class="toast align-items-center text-bg-primary border-0" id="myToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000" style="position: fixed; top: 300px; right: 20px; z-index: 1050;">
    <div class="d-flex">
        <div class="toast-body">
           Busca El Servicio especifica con el filtro !
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<h1 class="tit"> Todos los Servicios <i class="fa-solid fa-toolbox"></i></h1>
<p class="parrafo_servicio"><i class="fa-solid fa-exclamation"></i> En esta seccion se encuentan Todos los servicios los usuarios Logeados</p>

<div class="input d-flex justify-content-center">
    <div class="col-md-6 input_Buqueda">
        <label for="ProfesionID" class="form-label titulo_input">Buscar Profesión Interesada</label>
        @Html.DropDownList("profesionBuscarID", ViewBag.ProfesionID as SelectList, htmlAttributes: new
        {
            @class = "form-control ubicacion_input",
            @onchange = "CardServicios()" // Asegúrate de que este evento esté llamando a la función
        })
    </div>
</div>
    <div class="conte">
        <div class="contenedor-card card id=" ServicioID">

            

            <div id="contenedorCards" class="row"></div>
        </div>

        <div class="modal fade" id="agregarServicio" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="exampledModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal_style">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel" style="color: white;">Nuevo Servicio</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="javascript:void(0)" method="post" class="row g-3">
                            <input type="hidden" id="ServicioID" value="0" />


                            <div class="col-md-6">
                                <label for="ProfesionID" class="form-label">Profesion</label>
                                @Html.DropDownList("ProfesionID", null, htmlAttributes: new
                                    {
                                        @class = "form-control",
                                        id = "ProfesionID"
                                    })
                            </div>
                            <div class="col-md-6">
                                <label for="PersonaID" class="form-label">Nombre</label>
                                @Html.DropDownList("PersonaID", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" id="herramientas" class="form-check-input">
                                    <label for="herramientas" class="form-check-label">Herramientas</label>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="LimpiarModal()"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="agregarServicio()">Guardar
                            cambios</button>

                    </div>
                </div>
            </div>


        </div>
</body>

</html>

   <script>
      // Mostrar el toast cuando se cargue la página
      document.addEventListener('DOMContentLoaded', function () {
          var myToast = new bootstrap.Toast(document.getElementById('myToast'));
          myToast.show();
      });
   </script>
@section Scripts {
    <script src="~/js/VistaServicio.js"></script>
}