

.conteiner-persona{
    background: var(--bs-dark-bg-subtle)
}



/* formulario */

.Felicitaciones{
    height: 8em;
    font-size: 50px;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    text-align: center; /* Alineación del texto */
    color: white;
 

}

.posicion_Link_perfil{
    padding-top: 2em;
    text-decoration: none;
}
.Link_perfil{
    font-size: 2em;
    margin-top: 50em;
    text-decoration: none;
}




@media (max-width: 550px) {
    .ocultar-en-550px {
        display: none;
    }
}
@media (max-width: 768px) {
    .ocultar-en-768px {
        display: none;
    }
}


.fila-desactivada {
    background-color: #f8d7da;  /* Rojo claro */
    color: #721c24;             /* Rojo oscuro */
}

.fila-activa {
    background-color: #d4edda;  /* Verde claro */
    color: #155724;             /* Verde oscuro */
}


.texto3{
    font-size: 1.7em;
}